.page {
  height: 100%;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.page__body {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $basic-white;
}

.page__container {
  width: 335px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 1000px;
  }
}
