@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PT-Sans-Narrow-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT-Sans-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
